<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>About - CSC648 Fall 2021 Team 3</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand">Navbar</a>

        <form class="d-flex me-auto my-2 my-lg-0">
          <select class="mdb-select md-form" name="category" onchange="this.form.submit()">
            <option value="" disabled selected>Major</option>
            <option value="">All Categories </option>
            <% for(let i = 0; i < searchCategoriesShortName.length; i++) { %>
              <option value="<%= searchCategoriesShortName[i]%>" <% if(category === searchCategoriesShortName[i]) { %> selected <% } %>><%= searchCategoriesLongName[i]%></option>
          <%}%>
          </select>
          <input class="form-control me-2" id="search" name="search" value="<%= searchTerm %>"type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <div class="nav-item">
          <a class="nav-link active" aria-current="page" href="/tutorRegister">Tutor Apply</a>
        </div>
      </div>
    </nav>
<body>
    <section class="about">
        <div class="main">
            <img src="img/PaulKelly.png">
            <div class="about-text">
                <h1>Paul Kelly</h1>
                <h5> Computer<span> Science</span></h5>
                <p>I am a current graduate student working towards my masters degree in computer science
                at San Francisco State University. I have extensive knowledge in software development as
                well as machine assembly language. It is a pleasure helping others learn the subject I love. </p>
                <button type="button">Contact Me</button>
            </div>
        </div>
    </section>
</body>
</body>
<br>
<div style="text-align:center;"><strong> Software Engineering Project CSC 648-848, Fall 2021 For Demonstration Only</strong></div>
<div style="text-align:center;"><strong> Fall 2021 | Section 3 | Team 3</strong></div>
<br>
</html>
